---
import { Image } from "astro:assets";
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";
import Button from "@/components/starwind/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/starwind/card";
import type { FriendsData } from "@/lib/data-loaders/friends";
import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"div"> {
  friend: FriendsData["friends"][number];
}

const { friend, class: className, ...props } = Astro.props as Props;
---

<Card
  class={cn("items-center gap-3 bg-transparent", className)}
  {...props}
  data-card
>
  <CardHeader class="flex flex-col gap-0 items-center w-full">
    <a
      href={friend.primary_url}
      target="_blank"
      rel="noopener noreferrer"
      aria-label={`Visit ${friend.name}'s website`}
      class="h-30 w-30"
    >
      <Image
        src={friend.avatar}
        alt={`${friend.name} avatar`}
        class="rounded-full object-cover"
        height="300"
        width="300"
      />
    </a>
    <CardTitle class="text-lg font-bold">{friend.name}</CardTitle>
    <CardDescription class="text-sm">{friend.profession}</CardDescription>
  </CardHeader>

  <CardContent
    class="text-sm text-justify leading-relaxed text-foreground px-4 mb-auto"
  >
    {friend.description}
  </CardContent>

  <CardFooter
    class="bg-transparent flex flex-wrap gap-2 justify-center w-full p-2 border-t"
  >
    {friend.socials.map((social) => (
        <Button
          href={social.url}
          size="icon-sm"
          target="_blank"
          title={social.name}
          variant="outline"
        >
          <Icon name={social.icon} size="20" />
        </Button>
      ))}
  </CardFooter>
</Card>
