---
import { Font } from "astro:assets";
import "@/styles/global.css";
import type { HTMLAttributes } from "astro/types";
import { SEO, type SEOProps } from "astro-seo";
import Footer from "@/components/ui/footer.astro";
import Navbar from "@/components/ui/navbar.astro";
import { cn } from "@/lib/utils";
import themeInit from "@/scripts/theme-init.js?raw";

interface Props extends HTMLAttributes<"body"> {
  description?: string;
  nav?: {
    sticky?: boolean;
  };
  seo?: SEOProps["openGraph"];
  title: string;
}

const {
  title = "ARV - Website",
  description = "Personal website of ARV built with Astro.",
  nav = {
    sticky: false,
  },
  class: className,
  seo,
  ...props
} = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <meta name="viewport" content="width=device-width">
    <meta name="generator" content={Astro.generator}>
    <Font cssVariable="--font-inter" />
    <Font cssVariable="--font-geist-mono" />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title,
          type: "website",
          image: new URL("og.webp", Astro.url).toString(),
          url: Astro.url,
        },
        optional: {
          description,
        },
        ...seo,
      }}
    />
    <link rel="sitemap" href="/sitemap-index.xml">
    <link
      rel="alternate"
      type="application/rss+xml"
      title="ARV's Blog RSS"
      href={new URL("rss.xml", Astro.site)}
    >
    <script is:inline set:html={themeInit} />
  </head>
  <body
    class="relative w-full min-h-screen flex flex-col selection:bg-muted-foreground selection:text-accent"
    {...props}
  >
    <Navbar sticky={nav.sticky} />
    <main
      class={cn(
        "mx-auto w-full flex-1 px-4 py-8 md:w-2/3 md:px-0 xl:w-3/5",
        className,
      )}
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
