---
// Component from https://tailkits.com/ui/free/
import { Icon } from "astro-icon/components";
import OmSvg from "public/favicon.svg";
import { ThemeToggle } from "@/components/starwind/theme-toggle";
import { cn } from "@/lib/utils";
import Button from "../starwind/button";
import Search from "./search.astro";

interface Props {
  sticky?: boolean;
}

const { sticky = false } = Astro.props;

const homeLink = {
  href: "/",
  title: "ARV",
  alt: "Om Logo",
};

const middleLinks = [
  { href: "/projects", title: "Projects", icon: "lucide:rocket" },
  { href: "/blog", title: "Blog", icon: "lucide:newspaper" },
  { href: "/journal", title: "Journal", icon: "lucide:notebook-pen" },
];

const endLinks = [
  { href: "/resume", title: "Resume", icon: "lucide:scroll-text" },
  {
    href: "https://github.com/arv-anshul",
    title: "GitHub",
    icon: "simple-icons:github",
  },
];
---

<header
  class={cn(
    "backdrop-blur-sm font-mono bg-accent/95",
    sticky ? "sticky top-0 z-40" : "",
  )}
>
  <div
    class="flex items-center justify-between md:w-2/3 xl:w-3/5 mx-auto px-4 md:px-0 gap-x-4 py-1"
  >
    <!-- Home/Logo -->
    <div class="flex items-center">
      <a href={homeLink.href} title={homeLink.title} class="flex items-center">
        <OmSvg
          class="fill-foreground stroke-foreground"
          height="30"
          width="30"
        />
      </a>
    </div>

    <!-- Desktop Navigation -->
    <nav class="ml-2 mr-auto">
      <ul class="flex items-center gap-5">
        {middleLinks.map((link) => (
            <li>
              <a
                class="flex·items-center·gap-x-1·font-medium·text-foreground·text-sm·transition-opacity·hover:opacity-70"
                href={link.href}
              >
                <Icon
                class="hidden md:inline"
                name={link.icon}
                />
                {link.title}
              </a>
            </li>
          ))}
      </ul>
    </nav>

    <!-- End Links (Desktop Icons) -->
    <div class="flex items-center gap-x-2 justify-self-end">
      <!-- Search trigger + dialog -->
      <Search />

      <div class="flex items-center gap-x-1">
        {endLinks.map((link) => (
            <Button
              class="transition-opacity·hover:opacity-70"
              href={link.href}
              size="icon"
              target="_blank"
              title={link.title}
              variant="ghost"
            >
              <Icon name={link.icon} />
            </Button>
          ))}

        <ThemeToggle size="sm" />
      </div>
    </div>
  </div>
</header>
